In [3]:
import numpy as np
import pandas as pd

In [5]:
s=pd.Series([10,20,10,20,30,15,10,20,15,17,15,34,25,12])
print("Values of Series")
print(s)
print("largest value : ")
print(s.nlargest())
print("---------------------------------")
print("smallest value : ")
print(s.nsmallest())

Values of Series
0     10
1     20
2     10
3     20
4     30
5     15
6     10
7     20
8     15
9     17
10    15
11    34
12    25
13    12
dtype: int64
largest value :
11    34
4     30
12    25
1     20
3     20
dtype: int64
---------------------------------
smallest value :
0     10
2     10
6     10
13    12
5     15
dtype: int64

In [7]:
s.nsmallest(2).head(1)

0    10
dtype: int64

In [13]:
s.nlargest(7)

11    34
4     30
12    25
1     20
3     20
7     20
9     17
dtype: int64

In [20]:
temp=pd.Series([22,24,27,25,23,21,26],index=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print("Given Temp")
print(temp)

Given Temp
Mon    22
Tue    24
Wed    27
Thu    25
Fri    23
Sat    21
Sun    26
dtype: int64

In [32]:
print("Given Temp")
print(temp)
print("-------------------------------")
avgtemp=temp.mean()
print("All Days Average Temp=",avgtemp)
print("-------------------------------")
difftemp=temp-avgtemp
print("Difference Between each day's Temparature  and the Weekly Average Temparature ")
print(difftemp)
print("-------------------------------")
temp=pd.Series([22,24,27,25,23,21,26],index=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
temp=temp+2
print(temp)
print("-------------------------------")
print("Given Temp after increase by 2 Degrees")
print(temp)
print("-------------------------------")
avgtemp=temp.mean()
print("All Days Average Temp=",avgtemp)
print("-------------------------------")
difftemp=temp-avgtemp
print("Difference Between each day's Temparature  and the Weekly Average Temparature ")
print(difftemp)

Given Temp
Mon    24
Tue    26
Wed    29
Thu    27
Fri    25
Sat    23
Sun    28
dtype: int64
-------------------------------
All Days Average Temp= 26.0
-------------------------------
Difference Between each day's Temparature  and the Weekly Average Temparature
Mon   -2.0
Tue    0.0
Wed    3.0
Thu    1.0
Fri   -1.0
Sat   -3.0
Sun    2.0
dtype: float64
-------------------------------
Mon    24
Tue    26
Wed    29
Thu    27
Fri    25
Sat    23
Sun    28
dtype: int64
-------------------------------
Given Temp after increase by 2 Degrees
Mon    24
Tue    26
Wed    29
Thu    27
Fri    25
Sat    23
Sun    28
dtype: int64
-------------------------------
All Days Average Temp= 26.0
-------------------------------
Difference Between each day's Temparature  and the Weekly Average Temparature
Mon   -2.0
Tue    0.0
Wed    3.0
Thu    1.0
Fri   -1.0
Sat   -3.0
Sun    2.0
dtype: float64

In [34]:
temp=pd.Series([22,24,27,25,23,21,26],index=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print("Given Temp")
print(temp)

Given Temp
Mon    22
Tue    24
Wed    27
Thu    25
Fri    23
Sat    21
Sun    26
dtype: int64

In [36]:
avgtemp=temp.mean()
print("All Days Average Temp=",avgtemp)

All Days Average Temp= 24.0

In [38]:
difftemp=temp-avgtemp
print("Difference Between each day's Temparature  and the Weekly Average Temparature ")
print(difftemp)

Difference Between each day's Temparature  and the Weekly Average Temparature
Mon   -2.0
Tue    0.0
Wed    3.0
Thu    1.0
Fri   -1.0
Sat   -3.0
Sun    2.0
dtype: float64

In [40]:
temp=pd.Series([22,24,27,25,23,21,26],index=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print("Given Temp")
print(temp)
temp=temp+2
print("Given Temp after increase by 2 Degrees")
print(temp)

Given Temp
Mon    22
Tue    24
Wed    27
Thu    25
Fri    23
Sat    21
Sun    26
dtype: int64
Given Temp after increase by 2 Degrees
Mon    24
Tue    26
Wed    29
Thu    27
Fri    25
Sat    23
Sun    28
dtype: int64

In [42]:
avgtemp=temp.mean()
print("All Days Average Temp=",avgtemp)

All Days Average Temp= 26.0

In [44]:
difftemp=temp-avgtemp
print("Difference Between each day's Temparature  and the Weekly Average Temparature ")
print(difftemp)

Difference Between each day's Temparature  and the Weekly Average Temparature
Mon   -2.0
Tue    0.0
Wed    3.0
Thu    1.0
Fri   -1.0
Sat   -3.0
Sun    2.0
dtype: float64

In [48]:
print(temp.describe())

count     7.000000
mean     26.000000
std       2.160247
min      23.000000
25%      24.500000
50%      26.000000
75%      27.500000
max      29.000000
dtype: float64

In [52]:
print(temp.max())

29

In [54]:
print(temp.min())

23

In [56]:
print(temp.mean())

26.0

In [58]:
print(temp.median())

26.0

In [62]:
print(temp.var())

4.666666666666667

In [64]:
print(temp.std())

2.160246899469287

In [66]:
print(temp.unique())

[24 26 29 27 25 23 28]

In [70]:
print(temp.nunique())

7

In [96]:
print(temp.unique())
temp.sort_values(ascending=False,inplace=True)

[29 28 27 26 25 24 23]

In [98]:
print(temp)

Wed    29
Sun    28
Thu    27
Tue    26
Fri    25
Mon    24
Sat    23
dtype: int64

In [102]:
temp.sort_values(ascending=True,inplace=True)
print(temp)

Sat    23
Mon    24
Fri    25
Tue    26
Thu    27
Sun    28
Wed    29
dtype: int64

In [106]:
temp.sort_values(ascending=True,inplace=False)

Sat    23
Mon    24
Fri    25
Tue    26
Thu    27
Sun    28
Wed    29
dtype: int64

In [108]:
print(temp)

Sat    23
Mon    24
Fri    25
Tue    26
Thu    27
Sun    28
Wed    29
dtype: int64

In [114]:
temp.sort_values(ascending=False,inplace=False)

Wed    29
Sun    28
Thu    27
Tue    26
Fri    25
Mon    24
Sat    23
dtype: int64

In [112]:
print(temp)

Wed    29
Sun    28
Thu    27
Tue    26
Fri    25
Mon    24
Sat    23
dtype: int64