In [1]:
import numpy as np
import pandas as pd

In [19]:
a = [101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130]
df=pd.DataFrame(a,index=[val for val in range(1,31)],columns=['s'])
print(df)

      s
1   101
2   102
3   103
4   104
5   105
6   106
7   107
8   108
9   109
10  110
11  111
12  112
13  113
14  114
15  115
16  116
17  117
18  118
19  119
20  120
21  121
22  122
23  123
24  124
25  125
26  126
27  127
28  128
29  129
30  130

In [23]:
columns = ['Car Name', 'Car ID', 'Car Model', 'Car Colour', 'Year', 'Price']
car_data = [
    ('Toyota Camry', 1, 'Camry LE', 'Blue', 2020, 24000),
    ('Honda Accord', 2, 'Accord LX', 'Black', 2019, 23000),
    ('Ford Mustang', 3, 'Mustang GT', 'Red', 2021, 35000),
    ('Chevrolet Malibu', 4, 'Malibu LT', 'Silver', 2018, 22000),
    ('Nissan Altima', 5, 'Altima 2.5S', 'White', 2020, 24000),
    ('BMW 3 Series', 6, '330i', 'Mineral Grey', 2021, 41000),
    ('Audi A4', 7, 'A4 Premium Plus', 'Black', 2022, 45000),
    ('Hyundai Sonata', 8, 'Sonata SEL', 'Blue', 2020, 23000),
    ('Kia Optima', 9, 'Optima EX', 'Red', 2019, 21000),
    ('Volkswagen Passat', 10, 'Passat SE', 'Silver', 2021, 25000)
]

df = pd.DataFrame(car_data,columns=columns)
print(df)

            Car Name  Car ID        Car Model    Car Colour  Year  Price
0       Toyota Camry       1         Camry LE          Blue  2020  24000
1       Honda Accord       2        Accord LX         Black  2019  23000
2       Ford Mustang       3       Mustang GT           Red  2021  35000
3   Chevrolet Malibu       4        Malibu LT        Silver  2018  22000
4      Nissan Altima       5      Altima 2.5S         White  2020  24000
5       BMW 3 Series       6             330i  Mineral Grey  2021  41000
6            Audi A4       7  A4 Premium Plus         Black  2022  45000
7     Hyundai Sonata       8       Sonata SEL          Blue  2020  23000
8         Kia Optima       9        Optima EX           Red  2019  21000
9  Volkswagen Passat      10        Passat SE        Silver  2021  25000

In [25]:
print(df.size)

60

In [27]:
print(df.shape)

(10, 6)

In [29]:
print(df.ndim)

2

In [31]:
print(df.empty)

False

In [33]:
print(df.values)

[['Toyota Camry' 1 'Camry LE' 'Blue' 2020 24000]
 ['Honda Accord' 2 'Accord LX' 'Black' 2019 23000]
 ['Ford Mustang' 3 'Mustang GT' 'Red' 2021 35000]
 ['Chevrolet Malibu' 4 'Malibu LT' 'Silver' 2018 22000]
 ['Nissan Altima' 5 'Altima 2.5S' 'White' 2020 24000]
 ['BMW 3 Series' 6 '330i' 'Mineral Grey' 2021 41000]
 ['Audi A4' 7 'A4 Premium Plus' 'Black' 2022 45000]
 ['Hyundai Sonata' 8 'Sonata SEL' 'Blue' 2020 23000]
 ['Kia Optima' 9 'Optima EX' 'Red' 2019 21000]
 ['Volkswagen Passat' 10 'Passat SE' 'Silver' 2021 25000]]

In [37]:
print (df)
for axis in df.axes:
    print(axis)

            Car Name  Car ID        Car Model    Car Colour  Year  Price
0       Toyota Camry       1         Camry LE          Blue  2020  24000
1       Honda Accord       2        Accord LX         Black  2019  23000
2       Ford Mustang       3       Mustang GT           Red  2021  35000
3   Chevrolet Malibu       4        Malibu LT        Silver  2018  22000
4      Nissan Altima       5      Altima 2.5S         White  2020  24000
5       BMW 3 Series       6             330i  Mineral Grey  2021  41000
6            Audi A4       7  A4 Premium Plus         Black  2022  45000
7     Hyundai Sonata       8       Sonata SEL          Blue  2020  23000
8         Kia Optima       9        Optima EX           Red  2019  21000
9  Volkswagen Passat      10        Passat SE        Silver  2021  25000
RangeIndex(start=0, stop=10, step=1)
Index(['Car Name', 'Car ID', 'Car Model', 'Car Colour', 'Year', 'Price'], dtype='object')

In [63]:
print(df.nsmallest(1,'Price'))

     Car Name  Car ID  Car Model Car Colour  Year  Price
8  Kia Optima       9  Optima EX        Red  2019  21000

In [65]:
print(df.nlargest(2,'Price'))

       Car Name  Car ID        Car Model    Car Colour  Year  Price
6       Audi A4       7  A4 Premium Plus         Black  2022  45000
5  BMW 3 Series       6             330i  Mineral Grey  2021  41000

In [69]:
print(df.head(1))

       Car Name  Car ID Car Model Car Colour  Year  Price
0  Toyota Camry       1  Camry LE       Blue  2020  24000

In [73]:
print(df[::-1])

            Car Name  Car ID        Car Model    Car Colour  Year  Price
9  Volkswagen Passat      10        Passat SE        Silver  2021  25000
8         Kia Optima       9        Optima EX           Red  2019  21000
7     Hyundai Sonata       8       Sonata SEL          Blue  2020  23000
6            Audi A4       7  A4 Premium Plus         Black  2022  45000
5       BMW 3 Series       6             330i  Mineral Grey  2021  41000
4      Nissan Altima       5      Altima 2.5S         White  2020  24000
3   Chevrolet Malibu       4        Malibu LT        Silver  2018  22000
2       Ford Mustang       3       Mustang GT           Red  2021  35000
1       Honda Accord       2        Accord LX         Black  2019  23000
0       Toyota Camry       1         Camry LE          Blue  2020  24000

In [91]:
print(df.sort_values('Price'))

            Car Name  Car ID        Car Model    Car Colour  Year  Price
8         Kia Optima       9        Optima EX           Red  2019  21000
3   Chevrolet Malibu       4        Malibu LT        Silver  2018  22000
1       Honda Accord       2        Accord LX         Black  2019  23000
7     Hyundai Sonata       8       Sonata SEL          Blue  2020  23000
0       Toyota Camry       1         Camry LE          Blue  2020  24000
4      Nissan Altima       5      Altima 2.5S         White  2020  24000
9  Volkswagen Passat      10        Passat SE        Silver  2021  25000
2       Ford Mustang       3       Mustang GT           Red  2021  35000
5       BMW 3 Series       6             330i  Mineral Grey  2021  41000
6            Audi A4       7  A4 Premium Plus         Black  2022  45000

In [93]:
print(df.sort_values('Car ID'))

            Car Name  Car ID        Car Model    Car Colour  Year  Price
0       Toyota Camry       1         Camry LE          Blue  2020  24000
1       Honda Accord       2        Accord LX         Black  2019  23000
2       Ford Mustang       3       Mustang GT           Red  2021  35000
3   Chevrolet Malibu       4        Malibu LT        Silver  2018  22000
4      Nissan Altima       5      Altima 2.5S         White  2020  24000
5       BMW 3 Series       6             330i  Mineral Grey  2021  41000
6            Audi A4       7  A4 Premium Plus         Black  2022  45000
7     Hyundai Sonata       8       Sonata SEL          Blue  2020  23000
8         Kia Optima       9        Optima EX           Red  2019  21000
9  Volkswagen Passat      10        Passat SE        Silver  2021  25000

In [95]:
print(df.sort_values('Year'))

            Car Name  Car ID        Car Model    Car Colour  Year  Price
3   Chevrolet Malibu       4        Malibu LT        Silver  2018  22000
1       Honda Accord       2        Accord LX         Black  2019  23000
8         Kia Optima       9        Optima EX           Red  2019  21000
0       Toyota Camry       1         Camry LE          Blue  2020  24000
4      Nissan Altima       5      Altima 2.5S         White  2020  24000
7     Hyundai Sonata       8       Sonata SEL          Blue  2020  23000
2       Ford Mustang       3       Mustang GT           Red  2021  35000
5       BMW 3 Series       6             330i  Mineral Grey  2021  41000
9  Volkswagen Passat      10        Passat SE        Silver  2021  25000
6            Audi A4       7  A4 Premium Plus         Black  2022  45000

In [111]:
print (df.nlargest(1,'Car ID'))

            Car Name  Car ID  Car Model Car Colour  Year  Price
9  Volkswagen Passat      10  Passat SE     Silver  2021  25000

In [5]:
dd=pd.read_csv("C:\\Users\\Shreyas1\\Downloads\\Telegram Desktop\\first.csv")
print(dd)

            ('Toyota Camry'   1          'Camry LE'           'Blue'   2020  \
0           ('Honda Accord'   2         'Accord LX'          'Black'   2019
1           ('Ford Mustang'   3        'Mustang GT'            'Red'   2021
2       ('Chevrolet Malibu'   4         'Malibu LT'         'Silver'   2018
3          ('Nissan Altima'   5       'Altima 2.5S'          'White'   2020
4           ('BMW 3 Series'   6              '330i'   'Mineral Grey'   2021
5                ('Audi A4'   7   'A4 Premium Plus'          'Black'   2022
6         ('Hyundai Sonata'   8        'Sonata SEL'           'Blue'   2020
7             ('Kia Optima'   9         'Optima EX'            'Red'   2019
8      ('Volkswagen Passat'  10         'Passat SE'         'Silver'   2021

    24000)  Unnamed: 6
0   23000)         NaN
1   35000)         NaN
2   22000)         NaN
3   24000)         NaN
4   41000)         NaN
5   45000)         NaN
6   23000)         NaN
7   21000)         NaN
8   25000)         NaN

In [9]:
dd=pd.read_csv("C:\\Users\\Shreyas1\\Downloads\\Telegram Desktop\\myone.csv")
print(dd)

        Series_reference   Period  Data_value Suppressed Status    Units  \
0      BASA.SA020002A1AD  2015.12   4030051.0          n      F   Dollar
1      BASA.SA020002A1AD  2016.12   5604358.0          n      F   Dollar
2      BASA.SA020002A1AD  2017.12   6303698.0          n      F   Dollar
3      BASA.SA020002A1AD  2018.12   7387968.0          n      F   Dollar
4      BASA.SA020002A1AD  2019.12   8920351.0          n      F   Dollar
...                  ...      ...         ...        ...    ...      ...
46567          BASQ.SV1Z  2023.06   9052717.0          n      F  dollars
46568          BASQ.SV1Z  2023.09   9378134.0          n      F  dollars
46569          BASQ.SV1Z  2023.12   9326125.0          n      P  dollars
46570          BASQ.SV1Z  2024.03   8439315.0          n      P  dollars
46571          BASQ.SV1Z  2024.06   8814181.0          n      P  dollars

       Magnitude                         Subject  \
0              3  Building Activity Survey - BAS
1              3  Building Activity Survey - BAS
2              3  Building Activity Survey - BAS
3              3  Building Activity Survey - BAS
4              3  Building Activity Survey - BAS
...          ...                             ...
46567          3  Building Activity Survey - BAS
46568          3  Building Activity Survey - BAS
46569          3  Building Activity Survey - BAS
46570          3  Building Activity Survey - BAS
46571          3  Building Activity Survey - BAS

                               Group       Series_title_1 Series_title_2  \
0        Building activity by region      Auckland Region  All buildings
1        Building activity by region      Auckland Region  All buildings
2        Building activity by region      Auckland Region  All buildings
3        Building activity by region      Auckland Region  All buildings
4        Building activity by region      Auckland Region  All buildings
...                              ...                  ...            ...
46567  Value by institutional sector  Total - All Sectors            NaN
46568  Value by institutional sector  Total - All Sectors            NaN
46569  Value by institutional sector  Total - All Sectors            NaN
46570  Value by institutional sector  Total - All Sectors            NaN
46571  Value by institutional sector  Total - All Sectors            NaN

      Series_title_3 Series_title_4 Series_title_5
0                New          Value         Actual
1                New          Value         Actual
2                New          Value         Actual
3                New          Value         Actual
4                New          Value         Actual
...              ...            ...            ...
46567            NaN            NaN            NaN
46568            NaN            NaN            NaN
46569            NaN            NaN            NaN
46570            NaN            NaN            NaN
46571            NaN            NaN            NaN

[46572 rows x 14 columns]

In [5]:
print(dd.isna())

       Series_reference  Period  Data_value  Suppressed  Status  Units  \
0                 False   False       False       False   False  False
1                 False   False       False       False   False  False
2                 False   False       False       False   False  False
3                 False   False       False       False   False  False
4                 False   False       False       False   False  False
...                 ...     ...         ...         ...     ...    ...
46567             False   False       False       False   False  False
46568             False   False       False       False   False  False
46569             False   False       False       False   False  False
46570             False   False       False       False   False  False
46571             False   False       False       False   False  False

       Magnitude  Subject  Group  Series_title_1  Series_title_2  \
0          False    False  False           False           False
1          False    False  False           False           False
2          False    False  False           False           False
3          False    False  False           False           False
4          False    False  False           False           False
...          ...      ...    ...             ...             ...
46567      False    False  False           False            True
46568      False    False  False           False            True
46569      False    False  False           False            True
46570      False    False  False           False            True
46571      False    False  False           False            True

       Series_title_3  Series_title_4  Series_title_5
0               False           False           False
1               False           False           False
2               False           False           False
3               False           False           False
4               False           False           False
...               ...             ...             ...
46567            True            True            True
46568            True            True            True
46569            True            True            True
46570            True            True            True
46571            True            True            True

[46572 rows x 14 columns]

In [29]:
print(dd.nlargest(1,'Data_value'))

       Series_reference   Period  Data_value Suppressed Status   Units  \
5295  BASA.SATZ0002C1AD  2023.12  36283780.0          n      P  Dollar

      Magnitude                         Subject                        Group  \
5295          3  Building Activity Survey - BAS  Building activity by region

     Series_title_1 Series_title_2    Series_title_3 Series_title_4  \
5295    New Zealand  All buildings  New plus altered          Value

     Series_title_5
5295         Actual

In [33]:
print(dd['Data_value'].sum())

37088267207.6

In [35]:
print(dd['Data_value'].max())

36283780.0

In [37]:
print(dd['Data_value'].min())

-1512.0

In [39]:
print(dd['Data_value'].describe())

count    4.633100e+04
mean     8.005065e+05
std      2.456406e+06
min     -1.512000e+03
25%      9.000000e+00
50%      4.549200e+04
75%      4.982225e+05
max      3.628378e+07
Name: Data_value, dtype: float64

In [41]:
nou=dd.nunique()
print("Number of Unique Values=",nou)

Number of Unique Values= Series_reference     1370
Period                237
Data_value          27147
Suppressed              2
Status                  4
Units                   4
Magnitude               2
Subject                 1
Group                   5
Series_title_1         24
Series_title_2         16
Series_title_3          7
Series_title_4          6
Series_title_5          3
dtype: int64

In [49]:
s=pd.Series('Data_values')

In [51]:
print(s)

0    Data_values
dtype: object

In [7]:
print(dd.T)

                                   0                    1  \
('Toyota Camry'      ('Honda Accord'      ('Ford Mustang'
 1                                 2                    3
 'Camry LE'              'Accord LX'         'Mustang GT'
 'Blue'                      'Black'                'Red'
 2020                           2019                 2021
 24000)                       23000)               35000)
Unnamed: 6                       NaN                  NaN

                                       2                     3  \
('Toyota Camry'      ('Chevrolet Malibu'      ('Nissan Altima'
 1                                     4                     5
 'Camry LE'                  'Malibu LT'         'Altima 2.5S'
 'Blue'                         'Silver'               'White'
 2020                               2018                  2020
 24000)                           22000)                24000)
Unnamed: 6                           NaN                   NaN

                                   4                   5  \
('Toyota Camry'      ('BMW 3 Series'          ('Audi A4'
 1                                 6                   7
 'Camry LE'                   '330i'   'A4 Premium Plus'
 'Blue'               'Mineral Grey'             'Black'
 2020                           2021                2022
 24000)                       41000)              45000)
Unnamed: 6                       NaN                 NaN

                                     6                  7  \
('Toyota Camry'      ('Hyundai Sonata'      ('Kia Optima'
 1                                   8                  9
 'Camry LE'               'Sonata SEL'        'Optima EX'
 'Blue'                         'Blue'              'Red'
 2020                             2020               2019
 24000)                         23000)             21000)
Unnamed: 6                         NaN                NaN

                                        8
('Toyota Camry'      ('Volkswagen Passat'
 1                                     10
 'Camry LE'                   'Passat SE'
 'Blue'                          'Silver'
 2020                                2021
 24000)                            25000)
Unnamed: 6                            NaN

In [13]:
print(dd.T)

                                           0      \
Series_reference               BASA.SA020002A1AD
Period                                   2015.12
Data_value                             4030051.0
Suppressed                                     n
Status                                         F
Units                                     Dollar
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group                Building activity by region
Series_title_1                   Auckland Region
Series_title_2                     All buildings
Series_title_3                               New
Series_title_4                             Value
Series_title_5                            Actual

                                           1      \
Series_reference               BASA.SA020002A1AD
Period                                   2016.12
Data_value                             5604358.0
Suppressed                                     n
Status                                         F
Units                                     Dollar
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group                Building activity by region
Series_title_1                   Auckland Region
Series_title_2                     All buildings
Series_title_3                               New
Series_title_4                             Value
Series_title_5                            Actual

                                           2      \
Series_reference               BASA.SA020002A1AD
Period                                   2017.12
Data_value                             6303698.0
Suppressed                                     n
Status                                         F
Units                                     Dollar
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group                Building activity by region
Series_title_1                   Auckland Region
Series_title_2                     All buildings
Series_title_3                               New
Series_title_4                             Value
Series_title_5                            Actual

                                           3      \
Series_reference               BASA.SA020002A1AD
Period                                   2018.12
Data_value                             7387968.0
Suppressed                                     n
Status                                         F
Units                                     Dollar
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group                Building activity by region
Series_title_1                   Auckland Region
Series_title_2                     All buildings
Series_title_3                               New
Series_title_4                             Value
Series_title_5                            Actual

                                           4      \
Series_reference               BASA.SA020002A1AD
Period                                   2019.12
Data_value                             8920351.0
Suppressed                                     n
Status                                         F
Units                                     Dollar
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group                Building activity by region
Series_title_1                   Auckland Region
Series_title_2                     All buildings
Series_title_3                               New
Series_title_4                             Value
Series_title_5                            Actual

                                           5      \
Series_reference               BASA.SA020002A1AD
Period                                   2020.12
Data_value                             8328971.0
Suppressed                                     n
Status                                         F
Units                                     Dollar
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group                Building activity by region
Series_title_1                   Auckland Region
Series_title_2                     All buildings
Series_title_3                               New
Series_title_4                             Value
Series_title_5                            Actual

                                           6      \
Series_reference               BASA.SA020002A1AD
Period                                   2021.12
Data_value                             9468883.0
Suppressed                                     n
Status                                         F
Units                                     Dollar
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group                Building activity by region
Series_title_1                   Auckland Region
Series_title_2                     All buildings
Series_title_3                               New
Series_title_4                             Value
Series_title_5                            Actual

                                           7      \
Series_reference               BASA.SA020002A1AD
Period                                   2022.12
Data_value                            11757033.0
Suppressed                                     n
Status                                         F
Units                                     Dollar
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group                Building activity by region
Series_title_1                   Auckland Region
Series_title_2                     All buildings
Series_title_3                               New
Series_title_4                             Value
Series_title_5                            Actual

                                           8      \
Series_reference               BASA.SA020002A1AD
Period                                   2023.12
Data_value                            12689972.0
Suppressed                                     n
Status                                         P
Units                                     Dollar
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group                Building activity by region
Series_title_1                   Auckland Region
Series_title_2                     All buildings
Series_title_3                               New
Series_title_4                             Value
Series_title_5                            Actual

                                           9      ...  \
Series_reference               BASA.SA020002A1AJ  ...
Period                                   2016.06  ...
Data_value                             4740926.0  ...
Suppressed                                     n  ...
Status                                         F  ...
Units                                     Dollar  ...
Magnitude                                      3  ...
Subject           Building Activity Survey - BAS  ...
Group                Building activity by region  ...
Series_title_1                   Auckland Region  ...
Series_title_2                     All buildings  ...
Series_title_3                               New  ...
Series_title_4                             Value  ...
Series_title_5                            Actual  ...

                                           46562  \
Series_reference                       BASQ.SV1Z
Period                                   2022.03
Data_value                             7536485.0
Suppressed                                     n
Status                                         F
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

                                           46563  \
Series_reference                       BASQ.SV1Z
Period                                   2022.06
Data_value                             8202488.0
Suppressed                                     n
Status                                         F
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

                                           46564  \
Series_reference                       BASQ.SV1Z
Period                                   2022.09
Data_value                             9280966.0
Suppressed                                     n
Status                                         F
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

                                           46565  \
Series_reference                       BASQ.SV1Z
Period                                   2022.12
Data_value                             9136509.0
Suppressed                                     n
Status                                         F
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

                                           46566  \
Series_reference                       BASQ.SV1Z
Period                                   2023.03
Data_value                             8526804.0
Suppressed                                     n
Status                                         F
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

                                           46567  \
Series_reference                       BASQ.SV1Z
Period                                   2023.06
Data_value                             9052717.0
Suppressed                                     n
Status                                         F
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

                                           46568  \
Series_reference                       BASQ.SV1Z
Period                                   2023.09
Data_value                             9378134.0
Suppressed                                     n
Status                                         F
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

                                           46569  \
Series_reference                       BASQ.SV1Z
Period                                   2023.12
Data_value                             9326125.0
Suppressed                                     n
Status                                         P
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

                                           46570  \
Series_reference                       BASQ.SV1Z
Period                                   2024.03
Data_value                             8439315.0
Suppressed                                     n
Status                                         P
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

                                           46571
Series_reference                       BASQ.SV1Z
Period                                   2024.06
Data_value                             8814181.0
Suppressed                                     n
Status                                         P
Units                                    dollars
Magnitude                                      3
Subject           Building Activity Survey - BAS
Group              Value by institutional sector
Series_title_1               Total - All Sectors
Series_title_2                               NaN
Series_title_3                               NaN
Series_title_4                               NaN
Series_title_5                               NaN

[14 rows x 46572 columns]

In [15]:
print(dd.cumprod)

<bound method DataFrame.cumprod of         Series_reference   Period  Data_value Suppressed Status    Units  \
0      BASA.SA020002A1AD  2015.12   4030051.0          n      F   Dollar
1      BASA.SA020002A1AD  2016.12   5604358.0          n      F   Dollar
2      BASA.SA020002A1AD  2017.12   6303698.0          n      F   Dollar
3      BASA.SA020002A1AD  2018.12   7387968.0          n      F   Dollar
4      BASA.SA020002A1AD  2019.12   8920351.0          n      F   Dollar
...                  ...      ...         ...        ...    ...      ...
46567          BASQ.SV1Z  2023.06   9052717.0          n      F  dollars
46568          BASQ.SV1Z  2023.09   9378134.0          n      F  dollars
46569          BASQ.SV1Z  2023.12   9326125.0          n      P  dollars
46570          BASQ.SV1Z  2024.03   8439315.0          n      P  dollars
46571          BASQ.SV1Z  2024.06   8814181.0          n      P  dollars

       Magnitude                         Subject  \
0              3  Building Activity Survey - BAS
1              3  Building Activity Survey - BAS
2              3  Building Activity Survey - BAS
3              3  Building Activity Survey - BAS
4              3  Building Activity Survey - BAS
...          ...                             ...
46567          3  Building Activity Survey - BAS
46568          3  Building Activity Survey - BAS
46569          3  Building Activity Survey - BAS
46570          3  Building Activity Survey - BAS
46571          3  Building Activity Survey - BAS

                               Group       Series_title_1 Series_title_2  \
0        Building activity by region      Auckland Region  All buildings
1        Building activity by region      Auckland Region  All buildings
2        Building activity by region      Auckland Region  All buildings
3        Building activity by region      Auckland Region  All buildings
4        Building activity by region      Auckland Region  All buildings
...                              ...                  ...            ...
46567  Value by institutional sector  Total - All Sectors            NaN
46568  Value by institutional sector  Total - All Sectors            NaN
46569  Value by institutional sector  Total - All Sectors            NaN
46570  Value by institutional sector  Total - All Sectors            NaN
46571  Value by institutional sector  Total - All Sectors            NaN

      Series_title_3 Series_title_4 Series_title_5
0                New          Value         Actual
1                New          Value         Actual
2                New          Value         Actual
3                New          Value         Actual
4                New          Value         Actual
...              ...            ...            ...
46567            NaN            NaN            NaN
46568            NaN            NaN            NaN
46569            NaN            NaN            NaN
46570            NaN            NaN            NaN
46571            NaN            NaN            NaN

[46572 rows x 14 columns]>