In [3]:
import pandas as pd
import numpy as np

In [5]:
names = pd.Series(  ['Mark', 'Rita', 'Vicki', 'Justin', 'John', 'Michal'],
                    index = ['z', 'y', 'x', 'w', 'v', 'u'])
print(names)

z      Mark
y      Rita
x     Vicki
w    Justin
v      John
u    Michal
dtype: object

In [7]:
first_element = names[0]
print('First Element: ', first_element)
third_element = names[5]
print('Third Element: ', third_element)

First Element:  Mark
Third Element:  Michal

C:\Users\Shreyas1\AppData\Local\Temp\ipykernel_4976\758826471.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  first_element = names[0]
C:\Users\Shreyas1\AppData\Local\Temp\ipykernel_4976\758826471.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  third_element = names[5]

In [11]:
first_element = names['z']
print('First Element: ', first_element)
# Access 3rd element of the Series object
third_element = names['u']
print('Third Element: ', third_element)

First Element:  Mark
Third Element:  Michal

In [13]:
print(names)
print("----------------------")
first_element = names['z']
print('First Element: ', first_element)
third_element = names['u']
print('Third Element: ', third_element)

z      Mark
y      Rita
x     Vicki
w    Justin
v      John
u    Michal
dtype: object
----------------------
First Element:  Mark
Third Element:  Michal

In [15]:
import pandas as pd
# Create a Series object from a list
names = pd.Series(  ['Mark', 'Rita', 'Vicki', 'Justin', 'John', 'Michal'] )
print(names)
print("-----------------------------------------------")
# Select elements from index position 1 till 3
few_names = names[1:4]
# Display the subset of Series
print(few_names)

0      Mark
1      Rita
2     Vicki
3    Justin
4      John
5    Michal
dtype: object
-----------------------------------------------
1      Rita
2     Vicki
3    Justin
dtype: object

In [25]:
names=pd.Series(['aaaa','bbbb','cccc','dddd','eeee','ffff'],index=['a1','b2','c3','d4','e5','f6'])
print(names)
print("----------------------------")
few_names = names['a1':'d4']
# Display the subset of Series
print(few_names)

a1    aaaa
b2    bbbb
c3    cccc
d4    dddd
e5    eeee
f6    ffff
dtype: object
----------------------------
a1    aaaa
b2    bbbb
c3    cccc
d4    dddd
dtype: object

In [27]:
import pandas as pd
# Create a Series object from a list
names = pd.Series(  ['Mark', 'Rita', 'Vicki', 'Justin', 'John', 'Michal'],
                    index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(names)
# Select elements at index labels 'd', 'e' and 'a'
few_names = names[['d', 'e', 'a']]
# Display the subset of Series
print(few_names)

a      Mark
b      Rita
c     Vicki
d    Justin
e      John
f    Michal
dtype: object
d    Justin
e      John
a      Mark
dtype: object

In [31]:
names=pd.Series(['aaaa','bbbb','cccc','dddd','eeee','ffff'],index=['a1','b2','c3','d4','e5','f6'])
print(names)
print("----------------------------")
few_names = names[['a1','d4','b2']]
# Display the subset of Series
print(few_names)

a1    aaaa
b2    bbbb
c3    cccc
d4    dddd
e5    eeee
f6    ffff
dtype: object
----------------------------
a1    aaaa
d4    dddd
b2    bbbb
dtype: object

In [33]:
names['b2']="Rossum"
print(names)

a1      aaaa
b2    Rossum
c3      cccc
d4      dddd
e5      eeee
f6      ffff
dtype: object

In [35]:
import pandas as pd
# Create a Series object from a list
names = pd.Series(  ['Mark', 'Rita', 'Vicki', 'Justin', 'John', 'Michal'])
print(names)

0      Mark
1      Rita
2     Vicki
3    Justin
4      John
5    Michal
dtype: object

In [37]:
names[1]="Guido Van Rossum"
print(names)

0                Mark
1    Guido Van Rossum
2               Vicki
3              Justin
4                John
5              Michal
dtype: object

In [39]:
names[[0,5,3]]=["KV","HYD","IND"]

In [41]:
print(names)

0                  KV
1    Guido Van Rossum
2               Vicki
3                 IND
4                John
5                 HYD
dtype: object

In [43]:
import pandas as pd
# Create a Series object from a list
names = pd.Series(  ['Mark', 'Rita', 'Vicki', 'Justin', 'John', 'Michal'])
print(names)

0      Mark
1      Rita
2     Vicki
3    Justin
4      John
5    Michal
dtype: object

In [53]:
names[::3]="Pandas"
print(names)

0    Pandas
1      Rita
2     NUMPY
3    Pandas
4     NUMPY
5    Michal
dtype: object

In [55]:
names[::2]="NUMPY"
print(names)

0     NUMPY
1      Rita
2     NUMPY
3    Pandas
4     NUMPY
5    Michal
dtype: object

In [67]:
s=pd.Series([2,4,3,1,5,2])
print("Values of Series")
print(s)
print("========================")
print(s.product())
print("========================")
print(s.cumprod())
print("========================")

Values of Series
0    2
1    4
2    3
3    1
4    5
5    2
dtype: int64
========================
240
========================
cumprod 0      2
1      8
2     24
3     24
4    120
5    240
dtype: int64

In [69]:
s=pd.Series([2,4,np.NaN,3,5])
print("Values of Series")
print(s)
print("-------------------------")
print("Product Values=",s.product())

Values of Series
0    2.0
1    4.0
2    NaN
3    3.0
4    5.0
dtype: float64
-------------------------
Product Values= 120.0

In [71]:
s=pd.Series([2,4,3,1,5,2,3,5,4])
print("Values of Series")
print(s)
print("--------------------------")
print("Max Eleemnt=",s.max())
print("Min Eleemnt=",s.min())
print("Mean Eleemnt=",s.mean())
print("Median Eleemnt=",s.median())
print("Std of Elements=",s.std())
print("Product of Eleemnt=",s.product())

Values of Series
0    2
1    4
2    3
3    1
4    5
5    2
6    3
7    5
8    4
dtype: int64
--------------------------
Max Eleemnt= 5
Min Eleemnt= 1
Mean Eleemnt= 3.2222222222222223
Median Eleemnt= 3.0
Std of Elements= 1.3944333775567928
Product of Eleemnt= 14400

In [73]:
s=pd.Series([2,4,3,1,5,2,3,5,4])
print("Values of Series")
print(s)
print("--------------------------")
s.agg(['max',"min","sum","mean","median","std","product"])

Values of Series
0    2
1    4
2    3
3    1
4    5
5    2
6    3
7    5
8    4
dtype: int64
--------------------------

max            5.000000
min            1.000000
sum           29.000000
mean           3.222222
median         3.000000
std            1.394433
product    14400.000000
dtype: float64