In [1]:
import pandas as pd
import numpy as np

In [3]:
s=pd.Series([2,4,3,1,5,2,3,2,5,1,2])
print("Values of Series")
print(s)

Values of Series
0     2
1     4
2     3
3     1
4     5
5     2
6     3
7     2
8     5
9     1
10    2
dtype: int64

In [5]:
a=s.unique()
print("List of Unique Values")
print(a,type(a))
print("-----------OR--------------")
for val in a:
    print(val)

List of Unique Values
[2 4 3 1 5] <class 'numpy.ndarray'>
-----------OR--------------
2
4
3
1
5

In [7]:
s=pd.Series([2,4,3,1,5,2,3,2,5,1,2])
print("Values of Series")
print(s)
print("----------------------------")
nou=s.nunique()
print("Number of Unique Values=",nou)

Values of Series
0     2
1     4
2     3
3     1
4     5
5     2
6     3
7     2
8     5
9     1
10    2
dtype: int64
----------------------------
Number of Unique Values= 5

In [9]:
s=pd.Series([2,4,3,1,5,2,3,2,5,1,2])
print("Values of Series")
print(s)
print("----------------------------")
s.describe()

Values of Series
0     2
1     4
2     3
3     1
4     5
5     2
6     3
7     2
8     5
9     1
10    2
dtype: int64
----------------------------

count    11.000000
mean      2.727273
std       1.420627
min       1.000000
25%       2.000000
50%       2.000000
75%       3.500000
max       5.000000
dtype: float64