In [31]:
import numpy as np
import pandas as pd

In [39]:
a=np.arange(30,90,2)
print(a)
a.ndim

[30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76
 78 80 82 84 86 88]

1

In [49]:
cricket={"a":30,"b":45,"c":100,"d":45,"e":60,"f":35,"g":20, "i":65, "j":20, "k":9}
print(cricket,type(cricket))

{'a': 30, 'b': 45, 'c': 100, 'd': 45, 'e': 60, 'f': 35, 'g': 20, 'i': 65, 'j': 20, 'k': 9} <class 'dict'>

In [53]:
cric_data=pd.Series(cricket)
print(cric_data)
cric_data.size

a     30
b     45
c    100
d     45
e     60
f     35
g     20
i     65
j     20
k      9
dtype: int64

10

In [67]:
cric_data['f']=np.NaN
cric_data['i']=np.NaN
cric_data['k']=np.NaN
print(cric_data)

a     30.0
b     45.0
c    100.0
d     45.0
e     60.0
f      NaN
g     20.0
i      NaN
j     20.0
k      NaN
dtype: float64

In [69]:
print("Total Runs=",cric_data.sum())

Total Runs= 320.0

In [71]:
print("Total Number of Players=",cric_data.size)
print("No Players who played some runs=",cric_data.count())
print("No Players who did't played any runs=",(cric_data.size-cric_data.count()))

Total Number of Players= 10
No Players who played some runs= 7
No Players who did't played any runs= 3

In [75]:
print("==============OR=================")
print("No Players who did't played any runs=",cric_data.isna().sum())
print("==============OR=================")
print("No Players who did't played any runs=",cric_data.isnull().sum())

==============OR=================
No Players who did't played any runs= 3
==============OR=================
No Players who did't played any runs= 3

In [87]:
print("Highest Numbers of runs scored by any Batsman :",cric_data.max())

Highest Numbers of runs scored by any Batsman : 100.0

In [89]:
print("Lowest Runs scored by any Batsman :",cric_data.min())

Lowest Runs scored by any Batsman : 20.0

In [99]:
print("average runs scored by all players=",round(cric_data.mean()))

average runs scored by all players= 46

In [101]:
print("average runs played by all players=",round(cric_data.mean(),2))

average runs played by all players= 45.71

In [105]:

print("Median runs played by all players=",cric_data.median())

Median runs played by all players= 45.0

In [107]:
print("Variece between runs by batsman",cric_data.var())

Variece between runs by batsman 786.9047619047619

In [109]:
print("standard deviation of runs played by all players=",cric_data.std())

standard deviation of runs played by all players= 28.05182279112646

In [111]:
print(cric_data.describe())

count      7.000000
mean      45.714286
std       28.051823
min       20.000000
25%       25.000000
50%       45.000000
75%       52.500000
max      100.000000
dtype: float64

In [113]:
s=pd.Series(["Sonam","Rossum","Travis","Hunter","Shiva","Arshad","Rossum","Sonam","Sonam","Rossum"])
print(s)
print("--------------------")
print(s.describe())

0     Sonam
1    Rossum
2    Travis
3    Hunter
4     Shiva
5    Arshad
6    Rossum
7     Sonam
8     Sonam
9    Rossum
dtype: object
--------------------
count        10
unique        6
top       Sonam
freq          3
dtype: object