In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("C:\\Users\\Shreyas1\\all_data\\Pandas_code\\studentmarks1.csv")
print(df)

    htno     name  telugu  english  hindi  maths  science  social
0    100   Ramesh      50       60     66     98       66      55
1    101   Rajesh      45       67     34     67       66      78
2    102   Rossum      56       88     56     99       44      77
3    103     Raji      56       78     34     56       88      55
4    104   Kalyan      51       63     62     93       67      51
5    105  Karthik      48       62     39     68       65      88
6    106   Kambli      53       81     59     92       48      73
7    107  Praveen      46       88     74     86       78      45
8    108   Ganesh      53       62     76     88       76      35
9    109     Nags      55       77     44     77       86      58
10   110    Biswa      66       48     86     95       48      47
11   111   Ritchi      66       68     64     76       98      75
12   104   Kalyan      51       63     62     93       67      51
13   112  shareef      50       63     99     90       76      67
14   113     sonu      60       89     98     87       77      68
15   114   Rajesh      45       67     77     55       66      46
16   115   Rakesh      67       78     88     78       67      49

In [7]:
df["total"]=df["telugu"]+df["hindi"]+df["english"]+df["maths"]+df["science"]+df["social"]

In [9]:
print(df)

    htno     name  telugu  english  hindi  maths  science  social  total
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

In [11]:
#calculate percentage--percent = round((total/600)*100,2) and rounded to 2 Dec places
df["percent"]=round((df["total"]/600)*100,2)

In [13]:
print(df)

    htno     name  telugu  english  hindi  maths  science  social  total  \
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

    percent
0     65.83
1     59.50
2     70.00
3     61.17
4     64.50
5     61.67
6     67.67
7     69.50
8     65.00
9     66.17
10    65.00
11    74.50
12    64.50
13    74.17
14    79.83
15    59.33
16    71.17

In [15]:
df["grade"]=None

In [17]:
print(df)

    htno     name  telugu  english  hindi  maths  science  social  total  \
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

    percent grade
0     65.83  None
1     59.50  None
2     70.00  None
3     61.17  None
4     64.50  None
5     61.67  None
6     67.67  None
7     69.50  None
8     65.00  None
9     66.17  None
10    65.00  None
11    74.50  None
12    64.50  None
13    74.17  None
14    79.83  None
15    59.33  None
16    71.17  None

In [19]:
#Assig grades
#Grading Rules
#"Distinction"----Provided percent >=72
#"First"---------Provded percent ranges between less than 72 and greater than or equal to 65
#"Second"--------provided Percent ranges between less than 65 and greater than or equal to 60
#"Thrid"-------Provided Percent less than 60
df.loc[df["percent"]>=72,["grade"]]="DISTINCTION"
df.loc[(df["percent"]<72) & (df["percent"]>=65),["grade"]]="FIRST"
df.loc[(df["percent"]>=60) &  (df["percent"]<65),["grade"]]="SECOND"
df.loc[df["percent"]<60 ,["grade"]]="THIRD"

In [21]:
print(df)

    htno     name  telugu  english  hindi  maths  science  social  total  \
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

    percent        grade
0     65.83        FIRST
1     59.50        THIRD
2     70.00        FIRST
3     61.17       SECOND
4     64.50       SECOND
5     61.67       SECOND
6     67.67        FIRST
7     69.50        FIRST
8     65.00        FIRST
9     66.17        FIRST
10    65.00        FIRST
11    74.50  DISTINCTION
12    64.50       SECOND
13    74.17  DISTINCTION
14    79.83  DISTINCTION
15    59.33        THIRD
16    71.17        FIRST

In [23]:
df.to_csv("C:\\Users\\Shreyas1\\all_data\\Pandas_code\\studfinalresult.csv")
print("DataFrame Data Exported to CSV File--verify")

DataFrame Data Exported to CSV File--verify

In [29]:
df.to_excel("C:\\Users\\Shreyas1\\all_data\\Pandas_code\\studfinalresult.xlsx")
print("DataFrame Data Exported to excel File--verify")

DataFrame Data Exported to CSV File--verify

In [31]:
print(df)

    htno     name  telugu  english  hindi  maths  science  social  total  \
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

    percent        grade
0     65.83        FIRST
1     59.50        THIRD
2     70.00        FIRST
3     61.17       SECOND
4     64.50       SECOND
5     61.67       SECOND
6     67.67        FIRST
7     69.50        FIRST
8     65.00        FIRST
9     66.17        FIRST
10    65.00        FIRST
11    74.50  DISTINCTION
12    64.50       SECOND
13    74.17  DISTINCTION
14    79.83  DISTINCTION
15    59.33        THIRD
16    71.17        FIRST