In [1]:
import numpy as np
import pandas as pd

In [17]:
a= [[10,20,30,50,40,20,10,30,40,100,45,55,85,99,80] , 
    [10,20,30,50,40,20,10,30,40,100,45,55,85,99,80],
    [10,20,30,50,40,20,10,30,40,100,45,55,85,99,80],
    [10,20,30,50,40,20,10,30,40,100,45,55,85,99,80]]
df=pd.DataFrame(a)
print(df)

   0   1   2   3   4   5   6   7   8    9   10  11  12  13  14
0  10  20  30  50  40  20  10  30  40  100  45  55  85  99  80
1  10  20  30  50  40  20  10  30  40  100  45  55  85  99  80
2  10  20  30  50  40  20  10  30  40  100  45  55  85  99  80
3  10  20  30  50  40  20  10  30  40  100  45  55  85  99  80

In [147]:
a=(("Rossum","scientiest","8.5LPA"),("thomsun","scientiest","5.5LPA"))
df=pd.DataFrame(a,columns=['Name','Desg','Salary'])
print(df,type(df))

      Name        Desg  Salary
0   Rossum  scientiest  8.5LPA
1  thomsun  scientiest  5.5LPA <class 'pandas.core.frame.DataFrame'>

In [164]:
lst=[[100,"RS"],[200,"TR"],[300,"JH"],[400,"DR"]]
df=pd.DataFrame(lst)
print(df)

     0   1
0  100  RS
1  200  TR
2  300  JH
3  400  DR

In [166]:
lst=[[100,200,300,400],["RS","TR","JH","DR"]]
df=pd.DataFrame(lst,index=["ID","NAME"])
print(df,type(df))

        0    1    2    3
ID    100  200  300  400
NAME   RS   TR   JH   DR <class 'pandas.core.frame.DataFrame'>

In [174]:
lst=[[1,2,3,4],["AA","BB","CC","DD"]]
df=pd.DataFrame(lst,index=["ID","NAME"],columns=["Rec1","Rec2","Rec3","Rec4"])
print(df)

     Rec1 Rec2 Rec3 Rec4
ID      1    2    3    4
NAME   AA   BB   CC   DD

In [172]:
lst=[[100,200,300,400],["RS","TR","JH","DR"]]
df=pd.DataFrame(lst,columns=["Rec1","Rec2","Rec3","Rec4"],index=["ID","NAME"])
print(df)

     Rec1 Rec2 Rec3 Rec4
ID    100  200  300  400
NAME   RS   TR   JH   DR

In [176]:
lst=[[100,"RS"],[200,"TR"],[300,"JH"],[400,"DR"]]
df=pd.DataFrame(lst,index=["Rec1","Rec2","Rec3","Rec4"],columns=["ID","NAME"])
print(df)

       ID NAME
Rec1  100   RS
Rec2  200   TR
Rec3  300   JH
Rec4  400   DR

In [182]:
lst=[[100,"RS"],[200,"TR"],[300,"JH"],[400,"DR"]]
df=pd.DataFrame(lst,index=["Rec"+str(i) for i in range(1,5)],columns=["ID","NAME"])
print(df)

       ID NAME
Rec1  100   RS
Rec2  200   TR
Rec3  300   JH
Rec4  400   DR

In [193]:
BL=[[8.9,7.8,9.0],[7.8,7.2,9.5],[7.7,7.9,10.4]]
df=pd.DataFrame(BL,index=["CARLOAN","HOMELOAN","PERSONALLOAN"],columns=["SBI","HDFC","ICICI"])
print(df)

              SBI  HDFC  ICICI
CARLOAN       8.9   7.8    9.0
HOMELOAN      7.8   7.2    9.5
PERSONALLOAN  7.7   7.9   10.4

In [195]:
BL=([8.9,7.8,9.0],(7.8,7.2,9.5),[7.7,7.9,10.4])
df=pd.DataFrame(BL,index=["SBI","ICICI","HDFC"],columns=["CARLOAN","HOMELOAN","PERSONALLOAN"])
print(df)

       CARLOAN  HOMELOAN  PERSONALLOAN
SBI        8.9       7.8           9.0
ICICI      7.8       7.2           9.5
HDFC       7.7       7.9          10.4

In [241]:
lst=[10,20,30,40,50,60,10],[10,20,30,40,50,60,10],[10,20,30,40,50,60,10]
df=pd.DataFrame(lst,index=[1,2,3],columns=["a","b","c","d","e","f","g"])
print(df)

    a   b   c   d   e   f   g
1  10  20  30  40  50  60  10
2  10  20  30  40  50  60  10
3  10  20  30  40  50  60  10

In [245]:
d={1:"Python",2:"C",3:"C++",4:"Java",5:"Kotlin"}
df=pd.DataFrame(d,index=[1])
print(df)

        1  2    3     4       5
1  Python  C  C++  Java  Kotlin

In [263]:
d1={"One":"Python","Two":"C","Three":"C++"}
df=pd.DataFrame(d1,index=[1])
print(df)

      One Two Three
1  Python   C   C++

In [265]:
d={1:"Python",2:"C",3:"C++",4:"Java",5:"Kotlin"}
df=pd.DataFrame(d,index=["Courses"])
print(df)

              1  2    3     4       5
Courses  Python  C  C++  Java  Kotlin

In [269]:
d={"Rank1":["Python","DSC"],"Rank2":["on","off"]}
df=pd.DataFrame(d)
print(df)

    Rank1 Rank2
0  Python    on
1     DSC   off

In [271]:
d={"SBI":(8.9,7.8,9.0),"ICICI":[7.8,7.2,9.5],"HDFC":(.7,7.9,10.4)}
df=pd.DataFrame(d)
print(df)

   SBI  ICICI  HDFC
0  8.9    7.8   0.7
1  7.8    7.2   7.9
2  9.0    9.5  10.4

In [273]:
d={"SBI":(8.9,7.8,9.0),"ICICI":[7.8,7.2,9.5],"HDFC":(.7,7.9,10.4)}
df=pd.DataFrame(d,index=["CarLoan","HomeLoan","PersonalLoan"])
print(df)

              SBI  ICICI  HDFC
CarLoan       8.9    7.8   0.7
HomeLoan      7.8    7.2   7.9
PersonalLoan  9.0    9.5  10.4

In [43]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Person ' + str(i) for i in range(1, 51)], 
    'Age': np.random.randint(20, 60, size=50), 
    'Salary': np.random.randint(30000, 100000, size=50),  
    'Department': np.random.choice(['IT', 'HR', 'Finance', 'Marketing'], size=50)  
}
df = pd.DataFrame(data)
print(df)

         Name  Age  Salary Department
0    Person 1   22   45592  Marketing
1    Person 2   26   84663         HR
2    Person 3   48   57939    Finance
3    Person 4   34   85078  Marketing
4    Person 5   58   70937    Finance
5    Person 6   30   66387    Finance
6    Person 7   28   49032         IT
7    Person 8   38   43380         IT
8    Person 9   27   86885    Finance
9   Person 10   23   87758         HR
10  Person 11   27   85537         HR
11  Person 12   23   46816         HR
12  Person 13   51   53404         IT
13  Person 14   45   76129  Marketing
14  Person 15   37   71762    Finance
15  Person 16   36   50367         HR
16  Person 17   20   62867    Finance
17  Person 18   55   46809         HR
18  Person 19   37   30613    Finance
19  Person 20   27   47292    Finance
20  Person 21   31   74046         HR
21  Person 22   40   53983         IT
22  Person 23   33   46942         IT
23  Person 24   40   94646         HR
24  Person 25   40   51953  Marketing
25  Person 26   54   80042         IT
26  Person 27   49   35387         IT
27  Person 28   51   63040         HR
28  Person 29   43   42266    Finance
29  Person 30   46   88882         IT
30  Person 31   23   38233  Marketing
31  Person 32   36   73382         HR
32  Person 33   32   40215    Finance
33  Person 34   43   57415  Marketing
34  Person 35   20   49786    Finance
35  Person 36   54   43671         IT
36  Person 37   34   67235         IT
37  Person 38   48   91140    Finance
38  Person 39   36   88467         IT
39  Person 40   53   52783         HR
40  Person 41   38   81452         HR
41  Person 42   24   51777    Finance
42  Person 43   36   71637    Finance
43  Person 44   44   42208         HR
44  Person 45   47   33897         IT
45  Person 46   36   71371         IT
46  Person 47   48   98146         HR
47  Person 48   50   40111         IT
48  Person 49   58   50082    Finance
49  Person 50   55   34827    Finance